# **Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**  
    - List popular languages for Data Science  
    - List commonly used libraries  
    - List Data Sceince tools

Some of the popular languages that Data Scientists use are:  
    1. SQL  
    2. Python  
    3. RStudio

Some of the commonly used libraries used by Data Scientists include:  
    1. NumPy  
    2. Pandas  
    3. TensorFlow

| Data Science Tools |
| -------------------|
| Spyder |  
| JupyterLabs |  
| PyCharm |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This is a simple arithmetic expression to multiply
#then add integers.

(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60

min_2_hr = 200/60

print("This is " + str(min_2_hr) + "hours.")

This is 3.3333333333333335hours.

## Author
Ben